$primary-color: #f2f2f2;
$secondary-color:#cbcbcb;
$terciary-color: #0B0500;
$color-1: #612940;
$color-2:#1c5253;
$color-3:#c98986;
$color-4:#ffeccc;
$color-5:#c1eeff;
$paleta: ("uno": $color-1, "dos": $color-2, "tres": $color-3, "cuatro": $color-4, "cinco": $color-5);


$font-family: 'Bitter', serif;


$unit: 8px;
$limit: 10;
