#container-contacto{
    background-color: $primary-color;
}
.contacto-img{
    @include video (absolute, 0, 0, 100%, 100%)
}
.capa1{
    @include video (absolute, 0, 0, 100%, 100%);
    background-color: #1c1c1d;
    opacity: 0.275;
    mix-blend-mode: overlay;
}
.contacto{
    background-color: $primary-color;
    border: #1c1c1d solid 1px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}
.cont-contacto{
    transition: all 0.3s ease 0.3s;
}