.intro-hab{
    h3{
        font-size: auto;
        @media screen and (min-width: 576px) {
            font-size: auto;
        }
        @media screen and (max-width: 576px) {
            font-size: size(2.8);
        }
    }
    p{
        @media screen and (min-width: 576px) {
            font-size: auto;
        }
        @media screen and (max-width: 576px) {
            font-size: size(1.9);
        }
    }
}
#Habitaciones-row{
    div{
        h2{
            @media screen and (min-width: 576px) {
                font-size: auto;
            }
            @media screen and (max-width: 576px) {
                font-size: size(2.8);
            }
        }
        p{
            @media screen and (min-width: 576px) {
                font-size: auto;
            }
            @media screen and (max-width: 576px) {
                font-size: size(1.9);
            }
        }
    }
}
.row-spa-t{
    div{
        p{
            @media screen and (min-width: 576px) {
                font-size: auto;
            }
            @media screen and (max-width: 576px) {
                font-size: size(1.6);
            }
        }
    }
}
.check-cont{
    position: relative;
    section{
        position: relative;
        top: 10px;
    }
}
#check{
    section{
        padding-right: 20px;
        padding-left: 20px;
        border-right: 1px solid $secondary-color;
        @media screen and (min-width: 576px) {
            h4{
                font-size: auto;
            }
            p{
                font-size: auto;
            }

        }
        @media screen and (max-width: 576px) {
            h4{
                font-size: size(2.3);
            }
            p{
                font-size: size(1.8);
            }

        }
    }
}
.hab-superior{

    div{
       img{
        height: 100%;
        width: 100%;
       } 
    }
}
.hab-standar{
    div{
       img{
        height: 100%;
        width: 100%;
       } 
    }
}
#btn-5-hab{
    margin-right: 40px;
    @media screen and (min-width: 576px) {
        font-size: auto;
    }
    @media screen and (max-width: 576px) {
        margin-left: 30px;
        width: 130px;
        font-size: size(1.9);
    }
}