// carousel de imagenes
.carousel{
    width: 65%;
}
// texto
.titulo-spa{
    h2{
        @media screen and (max-width: 576px) {
            font-size: size(2.6);
        }
        @media screen and (min-width: 576px) {
            font-size: size(4.5);
        }
    }
}
.text-body-secondary{
    font-weight: 200;
    font-style: italic;
    position: relative;
    top: 22px;
    bottom: 0px;
    right: 0;
    
}
.row-spa-t{
    position: relative;
    h2{
        font-size: auto;
        @media screen and (min-width: 576px) {
            font-size: auto;
        }
        @media screen and (max-width: 576px) {
            font-size: size(2.8);
        }
    }
}
.texto-carousel-spa{
    @media screen and (max-width: 576px) {
        font-size: size(1.8);
    }
    @media screen and (min-width: 576px) {
        font-size: size(2.3);
    }
}
.cont-horarios{
    position: relative;
    .horarios{
        font-weight: 200;
        font-size: size(1.85);
        font-style: italic;
        position: relative;
        top: 18px;
    }
    .horas{
        font-weight: 400;
        font-size: size(1.95);
    }
}
// cartas de tratamientos
.spa-promo-img{
    width: 350px;
    img{
        width: 100%;
        height: 100%;
    }
}
.text-promo-spa{
    width: 350px;
    background-color: $primary-color;
    h5{
        font-weight: 600;
        padding-top: 80px;
        @media screen and (max-width: 576px) {
            font-size: size(2.1);
        }
        @media screen and (min-width: 576px) {
            font-size: size(3);
        }
    }
    p{
        width: 80%;
        font-style: italic;
        margin-left: 35px;
        @media screen and (max-width: 576px) {
            font-size: size(1.8);
        }
        @media screen and (min-width: 576px) {
            font-size: size(2.1);
        }
    }
    a{
        button{
            margin-left: 90px;
        }
    }
}
.paquetes-spa{
    @media screen and (max-width: 576px) {
        font-size: size(1.8);
    }
    @media screen and (min-width: 576px) {
        font-size: size(2.1);
    }
}
#paquete{
    width: 470px;
    height: 200px;
    background-color: lighten($color: #BDD4E7, $amount: 8);
    @media screen and (max-width: 576px) {
        width: 300px;
        height: 200px;
    }
    @media screen and (min-width: 576px) {
        width: 470px;
        height: 200px;
    }
    h3{
        font-weight: 400;
        padding-top: 80px;
        @media screen and (max-width: 576px) {
            font-size: size(2);
        }
        @media screen and (min-width: 576px) {
            font-size: size(3);
        }
    }
}
